<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/home.css">
    <title>Відео контент</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong class="username"></strong>
            </a>
            <form th:action="@{/logout}" method="get" class="form">
                <button class="btn btn-primary" name="logout" type="Submit">Вийти</button>
            </form>
        </div>
    </div>

</header>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading subscription_info_prefix">Підписка активна до:</h1>
            <p class="lead text-muted subscription_info"></p>
            <button type="button" class="btn btn-primary pre_subscribe" data-toggle="modal" data-target="#exampleModal">
                Підписатися
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Підписка</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" aria-hidden="true">Номер картки:</span>
                                </div>
                                <input type="text" class="card_number form-control"
                                       placeholder="Номер картки" aria-label="subscriptionType"
                                       aria-describedby="basic-addon1" maxlength="16">
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" aria-hidden="true">Дата:</span>
                                </div>
                                <input type="text" class="card_month form-control"
                                       placeholder="MM" aria-label="subscriptionType"
                                       aria-describedby="basic-addon1" maxlength="2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" aria-hidden="true">/</span>
                                </div>
                                <input type="text" class="card_year form-control"
                                       placeholder="РР" aria-label="subscriptionType"
                                       aria-describedby="basic-addon1" maxlength="2">
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" aria-hidden="true">CVV код:</span>
                                </div>
                                <input type="text" class="card_cvv form-control"
                                       placeholder="CVV" aria-label="subscriptionType"
                                       aria-describedby="basic-addon1" maxlength="3">
                            </div>
                        </div>
                        <div class="input-group col-md-6">
                            <div class="input-group mt-2">
                                <label class="radio">
                                    <input class="radio_in" type="radio" name="subscription_type" checked value="MONTHLY"/>ЩОМІСЯЧНА
                                </label>
                            </div>
                            <div class="input-group mt-2">
                                <label class="radio">
                                    <input class="radio_in" type="radio" name="subscription_type" value="ANNUAL"/>ЩОРІЧНА
                                </label>
                            </div>
                            <div class="input-group mt-1">
                                <h5>Ціна: <label class="subscription_price">10</label> USD</h5>
                            </div>
                        </div>
                        <div class="modal-footer mt-2">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                            <button type="button" class="btn subscribe btn-primary">Підтвердити</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 mt-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" aria-hidden="true">Пошук за назвою:</span>
                        </div>
                        <input type="text" class="search_in form-control"
                               placeholder="Назва фільму"
                               aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-3 mt-2">
                    <button type="button" class="btn search_btn btn-primary">Шукати</button>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" aria-hidden="true">Пошук за жанром:</span>
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Оберіть жанр</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">ACTION</button>
                            <button class="dropdown-item" type="button">COMEDY</button>
                            <button class="dropdown-item" type="button">DRAMA</button>
                            <button class="dropdown-item" type="button">HORROR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row film_container"></div>
        </div>
    </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p>створено Леончиком Богданом &copy; 2019</p>
    </div>
</footer>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.modal.min.js"></script>
<script src="../js/home.js"></script>

</body>
</html>