<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Реєстрація</title>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<link href="css/login.css" rel="stylesheet" />
</head>
<body>
	<div class="bg">
		<div class="container">
			<br /> <br />
			<div class="row justify-content-md-center">
				<h1 class="col-md-auto text-white">Реєстрація</h1>
			</div>
			<div class="row justify-content-md-center">
				<div class="mess p-3 mb-2 text-white" align="center">
					<h5 class="status"></h5>
				</div>
			</div>
			<div class="myForm row justify-content-md-center">
				<form action="">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text fa fa-user-circle-o"
								aria-hidden="true"></span>
						</div>
						<input type="text" class="form-control username"
							placeholder="ім'я" aria-label="Username"
							aria-describedby="basic-addon1">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text fa fa-key" aria-hidden="true"></span>
						</div>
						<input type="password" class="form-control password"
							placeholder="пароль" aria-label="Password"
							aria-describedby="basic-addon1">
					</div>
					<button class="register btn btn-primary btn-block btn-large"
						type="button">Зареєструватись</button>
					<button class="bmp btn btn-primary btn-block btn-large"
						type="button">Головна сторінка</button>
				</form>
			</div>
		</div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/registration.js"></script>
</body>
</html>